@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

.bg-1{
 background-color: rgba(255, 144, 14, 0.1);
}

.flex{
  display: flex;
}

.dark2{
  color: #424242;
}
.dark3{
  color: #727272;
}

.name{
  font-size: 45px;
  font: bold;
  margin-bottom: 24px;
}

.navbar{
  justify-content: space-between;
  align-items: center;
}

.nav-item{
  list-style: none;
  margin-right: 20px;
}

.nav-link{
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
}

.navbar, .banner{
  max-width: 1140px;
  margin: 0 auto;
}

.banner-title{
  font-size: 65px;
  font-weight: bold;
  text-align: center;
}

.details{
  font-size: 15px;
}

.banner-content{
  max-width: 862px;
  margin: 0 auto;
  text-align: center;
}

.btn{
  font-size: 20px;
  border-radius: 8px;
  background-color: #FF900E;
  color: white;
  font-weight: 400px;
  width: 164px;
  height: 64px;
  margin-top: 32px;
}

.banner-img{
  margin-top: 50px;

}

.banner-img{
  width: 100%;
  margin-bottom: 45px;
}

main{
  max-width: 1440px;
  margin: 0 auto;
}

main > section{
  margin-top: 130px;
  margin-bottom: 130px;
}

.team-images{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  border-radius: 8px;
}

.features{
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

.our-features{
margin: 287px 301px 0px 73px;
max-width: 537px;
}

#Quick-list{
  font-size: 45px;
  font-weight: 300;
  color: #727272;
}
#of-Our{
  font-size: 45px;
  font-weight: bold;
  color: black;
}
#Features{
  color: #FF900E;
  font-size: 45px;
  font-weight: bold;
}

.feature-heading{
  border-left: 5px solid #FF900E;
  padding-left: 24px;
}

.architect{
  margin: 0 auto 130px 54px;
}

.architect-feature{
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

.feature-details{
  padding: 30px 42px 30px 30px;
  margin-top: 0px;
}

.fact-title{
  margin: 0 auto;
  align-items: center;
}

.facts-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-top: 100px;
  
}

.facts{
  border: 2px solid #FF900E;
  border-radius: 8px;
  height: 240px;
  width: 240px;
  text-align: center;
  justify-content: center;
  align-items: center;
  
}

.fact-number{
  color: #424242;
  font-size: 45px;
  font-weight: 600px;
  margin-top:10px ;
  margin-bottom: 5px;
}

.fact-name{
  color: #727272;
  font-size: 20px;
  font-weight: 600;
  margin-top: 0;
}
/* sponsor info */
.sponsors{
  max-width: 542px;
  margin-top: 180px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.sponsors-logo{
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 130px;
}
.sponsors-logo img{
  filter: grayscale(100%);
}
/* .footer {
  width: 100%;
  max-width: 1440px;
  border-radius: 8px;
  background-color: #FFF4E7;
  margin: 0 auto;
  text-align: center;
}
.rights{
  padding: 39px 410px 38px 410px;
} */
@media screen and (max-width: 576px) {
  .navbar , 
  .nav-links,
  .features, .architect-feature{

    flex-direction: column;
  }

  .team-images, .facts-container, .sponsors-logo{
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .facts-container{
    gap: 10px;
  }
  .architect-feature{
    justify-items: center;
  }
  .architect{
    width: 100%;
    margin: 0 auto;
  }
  .our-features {
      margin: 50px auto;
  }

  .sponsors-logo img{
    margin-bottom: 50px;
  }

}
