@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

.bg-1{
 background-color: rgba(255, 144, 14, 0.1);
}

.flex{
  display: flex;
}

.dark2{
  color: #424242;
}
.dark3{
  color: #727272;
}

.name{
  font-size: 45px;
  font: bold;
}

.navbar{
  justify-content: space-between;
  align-items: center;
}

.nav-item{
  list-style: none;
  margin-right: 20px;
}

.nav-link{
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
}

.navbar, .banner{
  max-width: 1140px;
  margin: 0 auto;
}

.banner-title{
  font-size: 65px;
  font-weight: bold;
  text-align: center;
}

.details{
  font-size: 16px;
  text-align: start;
}

.banner-content{
  max-width: 862px;
  margin: 0 auto;
  text-align: center;
}

.btn{
  font-size: 20px;
  border-radius: 8px;
  background-color: #FF900E;
  color: white;
  font-weight: 400px;
  width: 164px;
  height: 64px;
  margin-top: 32px;
}

.banner-img{
  margin-top: 50px;

}

.banner-img{
  width: 100%;
  margin-bottom: 45px;
}

main{
  max-width: 1440px;
  margin: 0 auto;
}

main > section{
  margin-top: 130px;
  margin-bottom: 130px;
}

.team-images{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  border-radius: 8px;
}

.our-features{
margin: 287px 301px 0px 73px;
max-width: 537px;
}

#Quick-list{
  font-size: 45px;
  font-weight: 300;
  color: #727272;
}
#of-Our{
  font-size: 45px;
  font-weight: bold;
  color: black;
}
#Features{
  color: #FF900E;
  font-size: 45px;
  font-weight: bold;
}
@media screen and (max-width: 576px) {
  .navbar , 
  .nav-links,
  .features{

    flex-direction: column;
  }

  .team-images{
    grid-template-columns: repeat(1, 1fr);
  }

  .our-features{
      margin: 50px auto;
  }

}
